.container-warning {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.container-deletion {
    height: 100vh;
    background-color: white;
}

.container-title-deletion {
    background-color: #4663F8;
}

.container-modal {
    width: 100%;
}

.custom-dialog {
    border-radius: 0px !important;
}

.warning {
    color: red;
    font-weight: bold;
    margin: 0;
}

.confirmation-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}