.container{
    width: 95%;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
  }

.container-title-notices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-title{
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    background: white;
}

.container-title h2{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.container-edition-img {
    justify-content: space-between;
}

.container-img {
    width: 500px;
    height: 150px;

}
img {
    width: 100%;
    height: 100%;
}

.container-img-title{
    width: 20%;
    height: 100%;
}


@media screen and (max-width: 800px)  {
    .container-edition-img {
        flex-direction: column;
    }
    .container-img{
        width: 100%;
    }

    .container{
        height: 100%
    }
}