// Components
@import '@/components/services/teacher-edition-card/teacherEditionCard';
@import '@/components/services/data-table-service/dataTableService';
@import '@/components/services/searchbar-services/searchbarServices';

.container-services{
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container-title-services {
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // flex-wrap: wrap;
        height: fit-content;

        h2{
            font-family: $title-font;
            font-weight: bold;
            font-size: $size-32;
        }
    }

    .container-actions-services {
        width: 100%;
        display: flex;

        .container-title{
            display: flex;
            align-items: center;
            h3 {
                font-family: $main-font;
                font-weight: bold;
                font-size: $size-16;
                text-transform: uppercase;
                margin-right: 2px;
                vertical-align: middle;
            }
        }
    }
    .container-actions{
        display: flex;
        justify-content: space-between
    }

    .add-action{
        display: flex;
        justify-content: end;
    }

    .container-content {
        margin-top: 40px;
        display: flex;
        height: 550px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

        .title-hours {
            display: flex;
            justify-content: end;

            h3{
                font-family: 'Roboto',sans-serif;
                font-weight: 800;
                font-size: $size-20;
                text-transform: uppercase;
            }
        }
    }

}



.container-notifications{
    padding-top: 15px;
    height: 100px;
}


@media (max-width: 800px){
    .container-title-services{
        flex-direction: column;
        h2{
            order: 2;
            width: 100%;
        }

        .container-img-title{
            order: 1;
            width: 100%;
        }
    } 
}