// Components
@import '../../components/teacher-edition-card/teacherEditionCard';
@import '../../components/data-table-service/dataTableService';

.container-services{
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container-title-services {
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 110px;

        h2{
            font-family: $title-font;
            font-weight: bold;
            font-size: $size-32;
        }
    }

    .container-actions-services {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .content-v-select{
            display: flex;
            justify-content: end;

            .content-v-select-title{
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                h3 {
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: $size-16;
                    text-transform: uppercase;
                    margin-right: 2px;
                }
            }


            .container-component-select{
                width: 20%;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .add-action{
            margin-top: 20px;
            display: flex;
            justify-content: end;
        }
    }

    .container-content {
        margin-top: 40px;
        display: flex;
        height: 550px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

        .title-hours {
            display: flex;
            justify-content: end;

            h3{
                font-family: 'Roboto',sans-serif;
                font-weight: 800;
                font-size: $size-20;
                text-transform: uppercase;
            }
        }
    }

}


