// Components
@import '@/components/directory/lessons-listing-tab/lessonsListingTab';
@import '@/components/directory/teacher-directory-card/teacherDirectoryCard';
@import '@/components/directory/teacher-edition-modal/teacherEditionModal';
@import '@/components/directory/teacher-creation-modal/teacherCreationModal';
@import '@/components/directory/teacher-delete-modal/teacherDeleteModal';
@import '@/components/directory/teacher-search-bar/teacherSearchBar';

.text-container-modal{
    color: $white;
    font-family: $title-font;
    font-size: $size-32;
}

.container-directory {
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .container-title {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        width: 100%;
        height: fit-content;
        background: $white;

        h2 {
            font-family: $title-font;
            font-weight: bold;
            font-size: $size-32;
        }

    }

    .container-content-tabs {
        display: flex;
        margin-top: 60px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

        .container-filters-tabs {
            margin-top: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .addTeacher {
                padding: 2px 0;
            }

            .container-fields-filter {
                display: flex;
                width: 600px;
                gap: 12px;
                overflow: auto;
                padding: 2px;
                flex-direction: row;
            }
        }

        .teachers {
            flex-wrap: wrap;
            gap: 50px;
            overflow: auto;
            margin-top: 12px;
            display: flex;

            .teacher-grow {
                flex-grow: 1;
            }
        }
    }
}


@media (max-width: 800px){
    .container-title{
        flex-direction: column;
        h2{
            order: 2;
            width: 100%;
        }

        .container-img-title{
            order: 1;
            width: 100%;
        }
    } 
}