.container-fields {
    padding: 0;
    max-width: 600px;
    margin: 0;

    &::content {
        padding: 50px;
    }
}


.form-container {
    width: 60%;

    .search-button {
        height: 55px !important;
    }
}