

.disable-scrollbar {
  overflow: hidden;
}


.container-top-profile{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px;
    border-bottom: 1px solid white;
}

.bottom-border{
    border-bottom: 1px solid white;
}


.section-container {
    margin: auto;
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1{
        padding: 5px;
        margin: auto;
        width: 80%;
        font-family: $main-font;
        text-align: center;
        font-weight: bold;
        font-size: $size-16;
    }


    .section-nav{
        width: 100%;


        .menu-title{
            color: white;
            font-family: $title-font;
            font-size: $size-16;
            font-weight: bold;
        }       
    }
}

.section-bottom-nav{
    padding: 2px;

    p{
        font-family: $title-font;
        font-weight: bold;
    }
}

.change-theme-icon {
    margin: 10px;
}


.v-list-item-title{
    color: white;
    font-size: $size-16 !important;
    font-family: $title-font;
    font-weight: bold !important;
    padding: 10px;
}

.v-list-item--rounded{
    border-radius: 0px !important;
}

.icon-nav {
    width: 25%;
    display: flex;
    justify-content: center;
}