.custom-dialog {
    right: 0;
    min-height: 100vh;

    .container-edition{
        height: 100vh;
        padding: 0;
        display: flex;
 
        .container-modal {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;

            .container-title-edition{
                background-color: $primary;
                margin-top: 8px;
                display: flex;
                justify-content: center;
                padding: 16px;


                h1{
                    color: white;
                    font-family: $title-font;
                    font-weight: bold;
                    font-size: $size-24;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            .container-content-modal {
                padding: 0 20px;
                justify-content: space-between;

                h2 {
                    padding: 4px;
                }

                .container-v-fields {
                    display: flex;
                    flex-direction: row;
                }

    
                .about-lesson {
                    margin-top: 10px;

                    .container-lesson-types {
                        display: flex;
                        flex-direction: row;
                        padding: 4px;
                    }
                }
            }
            .container-actions {
                padding: 4px;
                
                .actions {
                    display: flex;
                    justify-content: space-between;
                }

            }
        }

    }


    
}