.container-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.change-password-form-fields {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 500px;
}

.change-password-button {
    width: 100%;
}

.password-color-red {
    background-color: red;
}

.password-color-orange {
    background-color: orange;
}

.password-color-yellow {
    background-color: yellow;
}

.password-color-green {
    background-color: green;
}

.password-color-grey {
    background-color: grey;
}

.password-score {
    width: 100%;
    display: flex;
    column-gap: 5px;
    margin-bottom: 20px;

    div {
        height: 10px;
        width: 25%;
    }
}

.message-error {
    color: red;
    margin-left: 20px;
    font-weight: bold;
}