.custom-dialog {
    border-radius: 0px !important;
}

.container-creation {
    height: 100vh;
    background-color: white;
}

.container-title-creation {
    background-color: #4663F8;
}

.container-creation {
    height: 100vh;
}

.container-modal {
    width: 100%;
}